<h1>Projects</h1>
<div class="row">
<div class="col-8 mx-auto">
    <table class="table">
        <thead>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Started On</th>
            <th>Team Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.projectId}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.teamSize}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>